In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

Circuits Data Preprocessing

In [2]:
circuits = pd.read_csv('../data/raw/circuits.csv')
circuits.columns
circuits.head(4)

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmel贸,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...

In [3]:
circuit_rename_col_names = {'name':'circuitName','location':'circuitLocation','country':'circuitCountry'}
circuit_drop_col_names = ['lat','lng','alt','url']
circuits.rename(columns=circuit_rename_col_names,inplace=True)
circuits = circuits.drop(circuit_drop_col_names, 1)
circuits.columns
circuits.head(4)

,circuitId,circuitRef,circuitName,circuitLocation,circuitCountry
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmel贸,Spain

Laptimes Data Preprocessing

In [4]:
laptimes = pd.read_csv('../data/raw/lap_times.csv')
laptimes.columns
laptimes.head(4)

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803

In [5]:
laptimes_rename_col_names = {'lap':'driverRaceLapNumber','position':'driverRaceFinalPosition','time':'driverLapTime', 'milliseconds': 'driverLapTimeInMilliseconds'}
laptimes.rename(columns=laptimes_rename_col_names,inplace=True)
laptimes.columns
laptimes.head(4)

,raceId,driverId,driverRaceLapNumber,driverRaceFinalPosition,driverLapTime,driverLapTimeInMilliseconds
0,841,20,1,1,1:38.109,98109
1,841,20,2,1,1:33.006,93006
2,841,20,3,1,1:32.713,92713
3,841,20,4,1,1:32.803,92803

Pitstops Data Preprocessing

In [6]:
pitstops = pd.read_csv('../data/raw/pit_stops.csv')
pitstops.columns
pitstops.head(4)

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251

In [7]:
pitstops_rename_col_names = {'stop':'pitStopNumber','lap':'pitStopLap','duration':'pitStopDuration', 'milliseconds': 'pitStopDurationInMilliseconds'}
pitstops_drop_col_names = ['time']
pitstops.rename(columns=pitstops_rename_col_names,inplace=True)
pitstops = pitstops.drop(pitstops_drop_col_names, 1)
pitstops.columns
pitstops.head(4)

,raceId,driverId,pitStopNumber,pitStopLap,pitStopDuration,pitStopDurationInMilliseconds
0,841,153,1,1,26.898,26898
1,841,30,1,1,25.021,25021
2,841,17,1,11,23.426,23426
3,841,4,1,12,23.251,23251

Status Data PreProcessing

In [8]:
status = pd.read_csv('../data/raw/status.csv')
status.columns
status.head(4)

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision

In [9]:
status_rename_col_names = {'status':'driverRaceResultStatus'}
status.rename(columns=status_rename_col_names,inplace=True)
status.columns
status.head(4)

   statusId driverRaceResultStatus
0         1               Finished
1         2           Disqualified
2         3               Accident
3         4              Collision

Constructors Data Preprocessing

In [10]:
constructors = pd.read_csv('../data/raw/constructors.csv')
constructors.columns
constructors.head(4)

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...

In [11]:
constructor_rename_col_names = {'name':'constructorName','nationality':'constructorNationality'}
constructor_drop_col_names = ['url']
constructors.rename(columns=constructor_rename_col_names,inplace=True)
constructors = constructors.drop(constructor_drop_col_names, 1)
constructors.columns
constructors.head(4)

   constructorId constructorRef constructorName constructorNationality
0              1        mclaren         McLaren                British
1              2     bmw_sauber      BMW Sauber                 German
2              3       williams        Williams                British
3              4        renault         Renault                 French

Constructor Results Data Preprocessing

In [12]:
constructors_results = pd.read_csv('../data/raw/constructor_results.csv')
constructors_results.columns
constructors_results.head(4)

   constructorResultsId  raceId  constructorId  points status
0                     1      18              1    14.0     \N
1                     2      18              2     8.0     \N
2                     3      18              3     9.0     \N
3                     4      18              4     5.0     \N

In [13]:
constructor_results_rename_col_names = {'points':'constructorRacePoints'}
constructor_results_drop_col_names = ['status']
constructors_results.rename(columns=constructor_results_rename_col_names,inplace=True)
constructors_results = constructors_results.drop(constructor_results_drop_col_names, 1)
constructors_results.columns
constructors_results.head(4)

   constructorResultsId  raceId  constructorId  constructorRacePoints
0                     1      18              1                   14.0
1                     2      18              2                    8.0
2                     3      18              3                    9.0
3                     4      18              4                    5.0

Constructor Standings Data Preprocessing

In [14]:
constructors_standings = pd.read_csv('../data/raw/constructor_standings.csv')
constructors_standings.columns
constructors_standings.head(4)

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0

In [15]:
constructor_standings_rename_col_names = {'points':'constructorChampionshipStandingPoints', 'position':'constructorChampionshipStandingPosition', 'wins':'constructorChampionshipStandingWins'}
constructor_standings_drop_col_names = ['positionText']
constructors_standings.rename(columns=constructor_standings_rename_col_names,inplace=True)
constructors_standings = constructors_standings.drop(constructor_standings_drop_col_names, 1)
constructors_standings.columns
constructors_standings.head(4)

,constructorStandingsId,raceId,constructorId,constructorChampionshipStandingPoints,constructorChampionshipStandingPosition,constructorChampionshipStandingWins
0,1,18,1,14.0,1,1
1,2,18,2,8.0,3,0
2,3,18,3,9.0,2,0
3,4,18,4,5.0,4,0

Driver Data Preprocessing

In [80]:
drivers = pd.read_csv('../data/raw/drivers.csv')
drivers.columns
drivers.head(4)

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso

In [17]:
driver_rename_col_names = {'number':'driverNumber','forename':'driverForename', 'surname':'driverSurname', 'dob':'driverDateOfBirth', 'nationality': 'driverNationality'}
driver_drop_col_names = ['code','url']
drivers.rename(columns=driver_rename_col_names,inplace=True)
drivers = drivers.drop(driver_drop_col_names, 1)
drivers.columns
drivers.head(4)

,driverId,driverRef,driverNumber,driverForename,driverSurname,driverDateOfBirth,driverNationality
0,1,hamilton,44,Lewis,Hamilton,1985-01-07,British
1,2,heidfeld,\N,Nick,Heidfeld,1977-05-10,German
2,3,rosberg,6,Nico,Rosberg,1985-06-27,German
3,4,alonso,14,Fernando,Alonso,1981-07-29,Spanish

Driver Standing Data Preprocessing

In [18]:
drivers_standings = pd.read_csv('../data/raw/driver_standings.csv')
drivers_standings.columns
drivers_standings.head(4)

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0

In [19]:
driver_standings_rename_col_names = {'points':'driverChampionshipStandingPoints', 'position':'driverChampionshipStandingPosition', 'wins':'driverChampionshipStandingWins'}
driver_standings_drop_col_names = ['positionText']
drivers_standings.rename(columns=driver_standings_rename_col_names,inplace=True)
drivers_standings = drivers_standings.drop(driver_standings_drop_col_names, 1)
drivers_standings.columns
drivers_standings.head(4)

,driverStandingsId,raceId,driverId,driverChampionshipStandingPoints,driverChampionshipStandingPosition,driverChampionshipStandingWins
0,1,18,1,10.0,1,1
1,2,18,2,8.0,2,0
2,3,18,3,6.0,3,0
3,4,18,4,5.0,4,0

Races Data Pre Processing

In [20]:
races = pd.read_csv('../data/raw/races.csv')
races.columns
races.head(4)

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [21]:
races_rename_col_names = {'year':'season','round':'raceNumber','name':'prixName', 'date':'raceDate'}
races_drop_col_names = ['time','url','fp1_date','fp1_time', 'fp2_date','fp2_time', 'fp3_date','fp3_time', 'quali_date', 'quali_time', 'sprint_date','sprint_time']
races.rename(columns=races_rename_col_names,inplace=True)
races = races.drop(races_drop_col_names, 1)
races.columns
races.head(4)

   raceId  season  raceNumber  circuitId               prixName    raceDate
0       1    2009           1          1  Australian Grand Prix  2009-03-29
1       2    2009           2          2   Malaysian Grand Prix  2009-04-05
2       3    2009           3         17     Chinese Grand Prix  2009-04-19
3       4    2009           4          3     Bahrain Grand Prix  2009-04-26

Race Results Data PreProcessing

In [22]:
results = pd.read_csv('../data/raw/results.csv')
results.columns
results.head(4)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1

In [23]:
results['fastestLapSpeed'].describe()

count     25840
unique     6938
top          \N
freq      18461
Name: fastestLapSpeed, dtype: object

In [24]:
results_rename_col_names = {'number':'carNumber','grid':'driverStartGridPos','position':'driverFinalGridPos', 'positionOrder':'driverFinalRank', 'points' : 'driverRacePoints', 'laps': 'driverLapCount', 'fastestLap': 'driverFatestLapNumber','fastestLapTime': 'driverFastestLapTime', 'fastestLapSpeed': 'driverFastestLapSpeed'}
results_drop_col_names = ['time', 'positionText', 'milliseconds', 'rank']
results.rename(columns=results_rename_col_names,inplace=True)
results = results.drop(results_drop_col_names, 1)
results.columns
results.head(4)

,resultId,raceId,driverId,constructorId,carNumber,driverStartGridPos,driverFinalGridPos,driverFinalRank,driverRacePoints,driverLapCount,driverFatestLapNumber,driverFastestLapTime,driverFastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,10.0,58,39,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,8.0,58,41,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,6.0,58,41,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,5.0,58,58,1:28.603,215.464,1

In [25]:
races.shape

(1102, 6)

In [26]:
races.columns

Index(['raceId', 'season', 'raceNumber', 'circuitId', 'prixName', 'raceDate'], dtype='object')

In [27]:
results.shape

(25840, 14)

In [28]:
results.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'carNumber',
       'driverStartGridPos', 'driverFinalGridPos', 'driverFinalRank',
       'driverRacePoints', 'driverLapCount', 'driverFatestLapNumber',
       'driverFastestLapTime', 'driverFastestLapSpeed', 'statusId'],
      dtype='object')

In [29]:
race_results = pd.merge(races,results,how='inner',on=['raceId'])

In [30]:
race_results.shape

(25840, 19)

In [31]:
race_results.columns

Index(['raceId', 'season', 'raceNumber', 'circuitId', 'prixName', 'raceDate',
       'resultId', 'driverId', 'constructorId', 'carNumber',
       'driverStartGridPos', 'driverFinalGridPos', 'driverFinalRank',
       'driverRacePoints', 'driverLapCount', 'driverFatestLapNumber',
       'driverFastestLapTime', 'driverFastestLapSpeed', 'statusId'],
      dtype='object')

In [32]:
race_results.head(5) #we can drop result id, car number

,raceId,season,raceNumber,circuitId,prixName,raceDate,resultId,driverId,constructorId,carNumber,driverStartGridPos,driverFinalGridPos,driverFinalRank,driverRacePoints,driverLapCount,driverFatestLapNumber,driverFastestLapTime,driverFastestLapSpeed,statusId
0,1,2009,1,1,Australian Grand Prix,2009-03-29,7554,18,23,22,1,1,1,10.0,58,17,1:28.020,216.891,1
1,1,2009,1,1,Australian Grand Prix,2009-03-29,7555,22,23,23,2,2,2,8.0,58,43,1:29.066,214.344,1
2,1,2009,1,1,Australian Grand Prix,2009-03-29,7556,15,7,9,20,3,3,6.0,58,50,1:28.916,214.706,1
3,1,2009,1,1,Australian Grand Prix,2009-03-29,7557,10,7,10,19,4,4,5.0,58,53,1:28.416,215.920,1
4,1,2009,1,1,Australian Grand Prix,2009-03-29,7558,4,4,7,10,5,5,4.0,58,53,1:28.712,215.199,1

In [33]:
constructors_results.columns

Index(['constructorResultsId', 'raceId', 'constructorId',
       'constructorRacePoints'],
      dtype='object')

In [34]:
constructors_results.shape

(12170, 4)

In [35]:
race_driver_constructor_results = pd.merge(race_results,constructors_results,how='left',on=['raceId', 'constructorId'])

In [36]:
race_driver_constructor_results.shape

(25840, 21)

In [37]:
race_driver_constructor_results.head(5) #we can drop result id, car number, constructor result id

,raceId,season,raceNumber,circuitId,prixName,raceDate,resultId,driverId,constructorId,carNumber,driverStartGridPos,driverFinalGridPos,driverFinalRank,driverRacePoints,driverLapCount,driverFatestLapNumber,driverFastestLapTime,driverFastestLapSpeed,statusId,constructorResultsId,constructorRacePoints
0,1,2009,1,1,Australian Grand Prix,2009-03-29,7554,18,23,22,1,1,1,10.0,58,17,1:28.020,216.891,1,3823.0,18.0
1,1,2009,1,1,Australian Grand Prix,2009-03-29,7555,22,23,23,2,2,2,8.0,58,43,1:29.066,214.344,1,3823.0,18.0
2,1,2009,1,1,Australian Grand Prix,2009-03-29,7556,15,7,9,20,3,3,6.0,58,50,1:28.916,214.706,1,3825.0,11.0
3,1,2009,1,1,Australian Grand Prix,2009-03-29,7557,10,7,10,19,4,4,5.0,58,53,1:28.416,215.920,1,3825.0,11.0
4,1,2009,1,1,Australian Grand Prix,2009-03-29,7558,4,4,7,10,5,5,4.0,58,53,1:28.712,215.199,1,3826.0,4.0

In [38]:
#dropping result id, car number, constructor result id
drop_col_names = ['resultId', 'carNumber', 'constructorResultsId']
race_driver_constructor_results_updated = race_driver_constructor_results.drop(drop_col_names, 1)

In [39]:
race_driver_constructor_results_updated.head(5)

,raceId,season,raceNumber,circuitId,prixName,raceDate,driverId,constructorId,driverStartGridPos,driverFinalGridPos,driverFinalRank,driverRacePoints,driverLapCount,driverFatestLapNumber,driverFastestLapTime,driverFastestLapSpeed,statusId,constructorRacePoints
0,1,2009,1,1,Australian Grand Prix,2009-03-29,18,23,1,1,1,10.0,58,17,1:28.020,216.891,1,18.0
1,1,2009,1,1,Australian Grand Prix,2009-03-29,22,23,2,2,2,8.0,58,43,1:29.066,214.344,1,18.0
2,1,2009,1,1,Australian Grand Prix,2009-03-29,15,7,20,3,3,6.0,58,50,1:28.916,214.706,1,11.0
3,1,2009,1,1,Australian Grand Prix,2009-03-29,10,7,19,4,4,5.0,58,53,1:28.416,215.920,1,11.0
4,1,2009,1,1,Australian Grand Prix,2009-03-29,4,4,10,5,5,4.0,58,53,1:28.712,215.199,1,4.0

In [40]:
race_driver_constructor_results_updated.shape

(25840, 18)

In [41]:
drivers.shape

(857, 7)

In [42]:
integrated_data = pd.merge(race_driver_constructor_results_updated,drivers,how='left',on=['driverId'])

In [43]:
integrated_data.shape

(25840, 24)

In [44]:
integrated_data.head(5) #might drop driverRef if not needed in future

,raceId,season,raceNumber,circuitId,prixName,raceDate,driverId,constructorId,driverStartGridPos,driverFinalGridPos,driverFinalRank,driverRacePoints,driverLapCount,driverFatestLapNumber,driverFastestLapTime,driverFastestLapSpeed,statusId,constructorRacePoints,driverRef,driverNumber,driverForename,driverSurname,driverDateOfBirth,driverNationality
0,1,2009,1,1,Australian Grand Prix,2009-03-29,18,23,1,1,1,10.0,58,17,1:28.020,216.891,1,18.0,button,22,Jenson,Button,1980-01-19,British
1,1,2009,1,1,Australian Grand Prix,2009-03-29,22,23,2,2,2,8.0,58,43,1:29.066,214.344,1,18.0,barrichello,\N,Rubens,Barrichello,1972-05-23,Brazilian
2,1,2009,1,1,Australian Grand Prix,2009-03-29,15,7,20,3,3,6.0,58,50,1:28.916,214.706,1,11.0,trulli,\N,Jarno,Trulli,1974-07-13,Italian
3,1,2009,1,1,Australian Grand Prix,2009-03-29,10,7,19,4,4,5.0,58,53,1:28.416,215.920,1,11.0,glock,\N,Timo,Glock,1982-03-18,German
4,1,2009,1,1,Australian Grand Prix,2009-03-29,4,4,10,5,5,4.0,58,53,1:28.712,215.199,1,4.0,alonso,14,Fernando,Alonso,1981-07-29,Spanish

In [45]:
constructors.shape

(211, 4)

In [46]:
constructors.columns

Index(['constructorId', 'constructorRef', 'constructorName',
       'constructorNationality'],
      dtype='object')

In [47]:
integrated_data = pd.merge(integrated_data,constructors,how='left',on=['constructorId'])

In [48]:
integrated_data.shape

(25840, 27)

In [49]:
integrated_data.head(5) #might drop driverRef, constructorRef if not needed in future

,raceId,season,raceNumber,circuitId,prixName,raceDate,driverId,constructorId,driverStartGridPos,driverFinalGridPos,driverFinalRank,driverRacePoints,driverLapCount,driverFatestLapNumber,driverFastestLapTime,driverFastestLapSpeed,statusId,constructorRacePoints,driverRef,driverNumber,driverForename,driverSurname,driverDateOfBirth,driverNationality,constructorRef,constructorName,constructorNationality
0,1,2009,1,1,Australian Grand Prix,2009-03-29,18,23,1,1,1,10.0,58,17,1:28.020,216.891,1,18.0,button,22,Jenson,Button,1980-01-19,British,brawn,Brawn,British
1,1,2009,1,1,Australian Grand Prix,2009-03-29,22,23,2,2,2,8.0,58,43,1:29.066,214.344,1,18.0,barrichello,\N,Rubens,Barrichello,1972-05-23,Brazilian,brawn,Brawn,British
2,1,2009,1,1,Australian Grand Prix,2009-03-29,15,7,20,3,3,6.0,58,50,1:28.916,214.706,1,11.0,trulli,\N,Jarno,Trulli,1974-07-13,Italian,toyota,Toyota,Japanese
3,1,2009,1,1,Australian Grand Prix,2009-03-29,10,7,19,4,4,5.0,58,53,1:28.416,215.920,1,11.0,glock,\N,Timo,Glock,1982-03-18,German,toyota,Toyota,Japanese
4,1,2009,1,1,Australian Grand Prix,2009-03-29,4,4,10,5,5,4.0,58,53,1:28.712,215.199,1,4.0,alonso,14,Fernando,Alonso,1981-07-29,Spanish,renault,Renault,French

In [50]:
constructors_standings.columns

Index(['constructorStandingsId', 'raceId', 'constructorId',
       'constructorChampionshipStandingPoints',
       'constructorChampionshipStandingPosition',
       'constructorChampionshipStandingWins'],
      dtype='object')

In [51]:
constructors_standings.shape

(12941, 6)

In [52]:
fully_integrated_data = pd.merge(integrated_data,constructors_standings,how='left', on=['raceId','constructorId'])

In [53]:
fully_integrated_data.shape

(25840, 31)

In [54]:
fully_integrated_data.columns

Index(['raceId', 'season', 'raceNumber', 'circuitId', 'prixName', 'raceDate',
       'driverId', 'constructorId', 'driverStartGridPos', 'driverFinalGridPos',
       'driverFinalRank', 'driverRacePoints', 'driverLapCount',
       'driverFatestLapNumber', 'driverFastestLapTime',
       'driverFastestLapSpeed', 'statusId', 'constructorRacePoints',
       'driverRef', 'driverNumber', 'driverForename', 'driverSurname',
       'driverDateOfBirth', 'driverNationality', 'constructorRef',
       'constructorName', 'constructorNationality', 'constructorStandingsId',
       'constructorChampionshipStandingPoints',
       'constructorChampionshipStandingPosition',
       'constructorChampionshipStandingWins'],
      dtype='object')

In [55]:
fully_integrated_data.head(5) #need to drop constrcutorStnadingsId

,raceId,season,raceNumber,circuitId,prixName,raceDate,driverId,constructorId,driverStartGridPos,driverFinalGridPos,driverFinalRank,driverRacePoints,driverLapCount,driverFatestLapNumber,driverFastestLapTime,driverFastestLapSpeed,statusId,constructorRacePoints,driverRef,driverNumber,driverForename,driverSurname,driverDateOfBirth,driverNationality,constructorRef,constructorName,constructorNationality,constructorStandingsId,constructorChampionshipStandingPoints,constructorChampionshipStandingPosition,constructorChampionshipStandingWins
0,1,2009,1,1,Australian Grand Prix,2009-03-29,18,23,1,1,1,10.0,58,17,1:28.020,216.891,1,18.0,button,22,Jenson,Button,1980-01-19,British,brawn,Brawn,British,4038.0,18.0,1.0,1.0
1,1,2009,1,1,Australian Grand Prix,2009-03-29,22,23,2,2,2,8.0,58,43,1:29.066,214.344,1,18.0,barrichello,\N,Rubens,Barrichello,1972-05-23,Brazilian,brawn,Brawn,British,4038.0,18.0,1.0,1.0
2,1,2009,1,1,Australian Grand Prix,2009-03-29,15,7,20,3,3,6.0,58,50,1:28.916,214.706,1,11.0,trulli,\N,Jarno,Trulli,1974-07-13,Italian,toyota,Toyota,Japanese,4039.0,11.0,2.0,0.0
3,1,2009,1,1,Australian Grand Prix,2009-03-29,10,7,19,4,4,5.0,58,53,1:28.416,215.920,1,11.0,glock,\N,Timo,Glock,1982-03-18,German,toyota,Toyota,Japanese,4039.0,11.0,2.0,0.0
4,1,2009,1,1,Australian Grand Prix,2009-03-29,4,4,10,5,5,4.0,58,53,1:28.712,215.199,1,4.0,alonso,14,Fernando,Alonso,1981-07-29,Spanish,renault,Renault,French,4040.0,4.0,3.0,0.0

In [56]:
drivers_standings.shape

(33902, 6)

In [57]:
drivers_standings.columns

Index(['driverStandingsId', 'raceId', 'driverId',
       'driverChampionshipStandingPoints',
       'driverChampionshipStandingPosition', 'driverChampionshipStandingWins'],
      dtype='object')

In [58]:
fully_integrated_data = pd.merge(fully_integrated_data,drivers_standings,how='left', on=['raceId','driverId'])

In [59]:
fully_integrated_data.shape

(25840, 35)

In [60]:
fully_integrated_data.columns

Index(['raceId', 'season', 'raceNumber', 'circuitId', 'prixName', 'raceDate',
       'driverId', 'constructorId', 'driverStartGridPos', 'driverFinalGridPos',
       'driverFinalRank', 'driverRacePoints', 'driverLapCount',
       'driverFatestLapNumber', 'driverFastestLapTime',
       'driverFastestLapSpeed', 'statusId', 'constructorRacePoints',
       'driverRef', 'driverNumber', 'driverForename', 'driverSurname',
       'driverDateOfBirth', 'driverNationality', 'constructorRef',
       'constructorName', 'constructorNationality', 'constructorStandingsId',
       'constructorChampionshipStandingPoints',
       'constructorChampionshipStandingPosition',
       'constructorChampionshipStandingWins', 'driverStandingsId',
       'driverChampionshipStandingPoints',
       'driverChampionshipStandingPosition', 'driverChampionshipStandingWins'],
      dtype='object')

In [61]:
fully_integrated_data.head(5) #need to drop constrcutorStnadingsId, driverStandingsId

,raceId,season,raceNumber,circuitId,prixName,raceDate,driverId,constructorId,driverStartGridPos,driverFinalGridPos,driverFinalRank,driverRacePoints,driverLapCount,driverFatestLapNumber,driverFastestLapTime,driverFastestLapSpeed,statusId,constructorRacePoints,driverRef,driverNumber,driverForename,driverSurname,driverDateOfBirth,driverNationality,constructorRef,constructorName,constructorNationality,constructorStandingsId,constructorChampionshipStandingPoints,constructorChampionshipStandingPosition,constructorChampionshipStandingWins,driverStandingsId,driverChampionshipStandingPoints,driverChampionshipStandingPosition,driverChampionshipStandingWins
0,1,2009,1,1,Australian Grand Prix,2009-03-29,18,23,1,1,1,10.0,58,17,1:28.020,216.891,1,18.0,button,22,Jenson,Button,1980-01-19,British,brawn,Brawn,British,4038.0,18.0,1.0,1.0,8247.0,10.0,1.0,1.0
1,1,2009,1,1,Australian Grand Prix,2009-03-29,22,23,2,2,2,8.0,58,43,1:29.066,214.344,1,18.0,barrichello,\N,Rubens,Barrichello,1972-05-23,Brazilian,brawn,Brawn,British,4038.0,18.0,1.0,1.0,8248.0,8.0,2.0,0.0
2,1,2009,1,1,Australian Grand Prix,2009-03-29,15,7,20,3,3,6.0,58,50,1:28.916,214.706,1,11.0,trulli,\N,Jarno,Trulli,1974-07-13,Italian,toyota,Toyota,Japanese,4039.0,11.0,2.0,0.0,8249.0,6.0,3.0,0.0
3,1,2009,1,1,Australian Grand Prix,2009-03-29,10,7,19,4,4,5.0,58,53,1:28.416,215.920,1,11.0,glock,\N,Timo,Glock,1982-03-18,German,toyota,Toyota,Japanese,4039.0,11.0,2.0,0.0,8250.0,5.0,4.0,0.0
4,1,2009,1,1,Australian Grand Prix,2009-03-29,4,4,10,5,5,4.0,58,53,1:28.712,215.199,1,4.0,alonso,14,Fernando,Alonso,1981-07-29,Spanish,renault,Renault,French,4040.0,4.0,3.0,0.0,8251.0,4.0,5.0,0.0

In [62]:
circuits.shape

(77, 5)

In [63]:
circuits.columns

Index(['circuitId', 'circuitRef', 'circuitName', 'circuitLocation',
       'circuitCountry'],
      dtype='object')

In [64]:
fully_integrated_data = pd.merge(fully_integrated_data,circuits,how='left', on=['circuitId'])

In [65]:
fully_integrated_data.shape

(25840, 39)

In [66]:
fully_integrated_data.columns

Index(['raceId', 'season', 'raceNumber', 'circuitId', 'prixName', 'raceDate',
       'driverId', 'constructorId', 'driverStartGridPos', 'driverFinalGridPos',
       'driverFinalRank', 'driverRacePoints', 'driverLapCount',
       'driverFatestLapNumber', 'driverFastestLapTime',
       'driverFastestLapSpeed', 'statusId', 'constructorRacePoints',
       'driverRef', 'driverNumber', 'driverForename', 'driverSurname',
       'driverDateOfBirth', 'driverNationality', 'constructorRef',
       'constructorName', 'constructorNationality', 'constructorStandingsId',
       'constructorChampionshipStandingPoints',
       'constructorChampionshipStandingPosition',
       'constructorChampionshipStandingWins', 'driverStandingsId',
       'driverChampionshipStandingPoints',
       'driverChampionshipStandingPosition', 'driverChampionshipStandingWins',
       'circuitRef', 'circuitName', 'circuitLocation', 'circuitCountry'],
      dtype='object')

In [67]:
laptimes.shape

(538121, 6)

In [68]:
pitstops.shape

(9634, 6)

In [69]:
pitstops.columns

Index(['raceId', 'driverId', 'pitStopNumber', 'pitStopLap', 'pitStopDuration',
       'pitStopDurationInMilliseconds'],
      dtype='object')

In [70]:
status.shape

(139, 2)

In [71]:
status.columns

Index(['statusId', 'driverRaceResultStatus'], dtype='object')

In [72]:
fully_integrated_data = pd.merge(fully_integrated_data,status,how='left', on=['statusId'])

In [73]:
fully_integrated_data.shape

(25840, 40)

In [74]:
fully_integrated_data.columns

Index(['raceId', 'season', 'raceNumber', 'circuitId', 'prixName', 'raceDate',
       'driverId', 'constructorId', 'driverStartGridPos', 'driverFinalGridPos',
       'driverFinalRank', 'driverRacePoints', 'driverLapCount',
       'driverFatestLapNumber', 'driverFastestLapTime',
       'driverFastestLapSpeed', 'statusId', 'constructorRacePoints',
       'driverRef', 'driverNumber', 'driverForename', 'driverSurname',
       'driverDateOfBirth', 'driverNationality', 'constructorRef',
       'constructorName', 'constructorNationality', 'constructorStandingsId',
       'constructorChampionshipStandingPoints',
       'constructorChampionshipStandingPosition',
       'constructorChampionshipStandingWins', 'driverStandingsId',
       'driverChampionshipStandingPoints',
       'driverChampionshipStandingPosition', 'driverChampionshipStandingWins',
       'circuitRef', 'circuitName', 'circuitLocation', 'circuitCountry',
       'driverRaceResultStatus'],
      dtype='object')

In [75]:
drop_col_names = ['circuitId', 'statusId', 'driverRef','constructorRef', 'circuitRef','constructorStandingsId', 'driverStandingsId']
final_fully_integrated_data = fully_integrated_data.drop(drop_col_names, 1)

In [76]:
final_fully_integrated_data.shape

(25840, 33)

In [77]:
final_fully_integrated_data.columns

Index(['raceId', 'season', 'raceNumber', 'prixName', 'raceDate', 'driverId',
       'constructorId', 'driverStartGridPos', 'driverFinalGridPos',
       'driverFinalRank', 'driverRacePoints', 'driverLapCount',
       'driverFatestLapNumber', 'driverFastestLapTime',
       'driverFastestLapSpeed', 'constructorRacePoints', 'driverNumber',
       'driverForename', 'driverSurname', 'driverDateOfBirth',
       'driverNationality', 'constructorName', 'constructorNationality',
       'constructorChampionshipStandingPoints',
       'constructorChampionshipStandingPosition',
       'constructorChampionshipStandingWins',
       'driverChampionshipStandingPoints',
       'driverChampionshipStandingPosition', 'driverChampionshipStandingWins',
       'circuitName', 'circuitLocation', 'circuitCountry',
       'driverRaceResultStatus'],
      dtype='object')

In [78]:
final_fully_integrated_data.head(10)

,raceId,season,raceNumber,prixName,raceDate,driverId,constructorId,driverStartGridPos,driverFinalGridPos,driverFinalRank,driverRacePoints,driverLapCount,driverFatestLapNumber,driverFastestLapTime,driverFastestLapSpeed,constructorRacePoints,driverNumber,driverForename,driverSurname,driverDateOfBirth,driverNationality,constructorName,constructorNationality,constructorChampionshipStandingPoints,constructorChampionshipStandingPosition,constructorChampionshipStandingWins,driverChampionshipStandingPoints,driverChampionshipStandingPosition,driverChampionshipStandingWins,circuitName,circuitLocation,circuitCountry,driverRaceResultStatus
0,1,2009,1,Australian Grand Prix,2009-03-29,18,23,1,1,1,10.0,58,17,1:28.020,216.891,18.0,22,Jenson,Button,1980-01-19,British,Brawn,British,18.0,1.0,1.0,10.0,1.0,1.0,Albert Park Grand Prix Circuit,Melbourne,Australia,Finished
1,1,2009,1,Australian Grand Prix,2009-03-29,22,23,2,2,2,8.0,58,43,1:29.066,214.344,18.0,\N,Rubens,Barrichello,1972-05-23,Brazilian,Brawn,British,18.0,1.0,1.0,8.0,2.0,0.0,Albert Park Grand Prix Circuit,Melbourne,Australia,Finished
2,1,2009,1,Australian Grand Prix,2009-03-29,15,7,20,3,3,6.0,58,50,1:28.916,214.706,11.0,\N,Jarno,Trulli,1974-07-13,Italian,Toyota,Japanese,11.0,2.0,0.0,6.0,3.0,0.0,Albert Park Grand Prix Circuit,Melbourne,Australia,Finished
3,1,2009,1,Australian Grand Prix,2009-03-29,10,7,19,4,4,5.0,58,53,1:28.416,215.920,11.0,\N,Timo,Glock,1982-03-18,German,Toyota,Japanese,11.0,2.0,0.0,5.0,4.0,0.0,Albert Park Grand Prix Circuit,Melbourne,Australia,Finished
4,1,2009,1,Australian Grand Prix,2009-03-29,4,4,10,5,5,4.0,58,53,1:28.712,215.199,4.0,14,Fernando,Alonso,1981-07-29,Spanish,Renault,French,4.0,3.0,0.0,4.0,5.0,0.0,Albert Park Grand Prix Circuit,Melbourne,Australia,Finished
5,1,2009,1,Australian Grand Prix,2009-03-29,3,3,5,6,6,3.0,58,48,1:27.706,217.668,3.0,6,Nico,Rosberg,1985-06-27,German,Williams,British,3.0,4.0,0.0,3.0,6.0,0.0,Albert Park Grand Prix Circuit,Melbourne,Australia,Finished
6,1,2009,1,Australian Grand Prix,2009-03-29,67,5,13,7,7,2.0,58,34,1:29.230,213.950,3.0,\N,S茅bastien,Buemi,1988-10-31,Swiss,Toro Rosso,Italian,3.0,5.0,0.0,2.0,7.0,0.0,Albert Park Grand Prix Circuit,Melbourne,Australia,Finished
7,1,2009,1,Australian Grand Prix,2009-03-29,7,5,17,8,8,1.0,58,50,1:29.823,212.537,3.0,\N,S茅bastien,Bourdais,1979-02-28,French,Toro Rosso,Italian,3.0,5.0,0.0,1.0,8.0,0.0,Albert Park Grand Prix Circuit,Melbourne,Australia,Finished
8,1,2009,1,Australian Grand Prix,2009-03-29,16,10,16,9,9,0.0,58,43,1:28.943,214.640,0.0,99,Adrian,Sutil,1983-01-11,German,Force India,Indian,0.0,6.0,0.0,0.0,9.0,0.0,Albert Park Grand Prix Circuit,Melbourne,Australia,Finished
9,1,2009,1,Australian Grand Prix,2009-03-29,2,2,9,10,10,0.0,58,48,1:28.283,216.245,0.0,\N,Nick,Heidfeld,1977-05-10,German,BMW Sauber,German,0.0,7.0,0.0,0.0,10.0,0.0,Albert Park Grand Prix Circuit,Melbourne,Australia,Finished

In [79]:
final_fully_integrated_data.to_csv('../data/processed/final_fully_integrated_data.csv', index = False)